body {
  background: #1b1d20;
}

img {
  max-width: 100%;
  display: block;
}

.slide {
  max-width: 380px;
  margin: 20px auto;
}

.slide-items {
  position: relative;
}

.slide-items > * {
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.slide-items > .active {
  position: relative;
  opacity: 1;
  pointer-events: initial;
}

.slide-thumb {
  display: flex;
}

.slide-thumb > span {
  flex: 1;
  display: block;
  height: 3px;
  background: lawngreen;
  margin: 5px;
  border-radius: 3px;
}

.slide-thumb > span.active {
  background: blue;
}
